.container{
    width:400px;
    margin:40px auto;
}

.form-group{
    margin-bottom:15px;
}

input{
    width:100%;
    padding:8px;
}

button{
    width:100%;
    padding:10px;
    cursor:pointer;
}